* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans;
  overflow-x: hidden;
}

/* header start */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #073149;
  color: white;
  padding: 10px;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 15px;
}
.header .header_wrap {
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  gap: 1.5rem;
}
.header img {
  width: 100px;
}
.header .title h2 {
  color: #fff;
  line-height: 25px;
  font-size: 21px;
}

/* header end */

/* sidebar start */
.sidebar {
  background: #032330;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 16vw;
  position: fixed;
  top: 8rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar_content {
  position: relative;
}
.sidebar_content a {
  width: calc(100% - 25px);
  background-color: transparent;
  color: #fff !important;
  padding: 20px 25px 20px 35px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  transition: 0.3s all;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.sidebar_content ion-icon {
  font-size: 20px;
}
.sidebar_content a.active,
.sidebar_content a:hover {
  background-color: #fff;
  color: #032330 !important;
}
.scaner {
  background-color: #fff;
  width: 180px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}
.scaner img {
  width: 160px;
}
.scaner p {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

/* sidebar end*/

/* main start */
.main_wrapper {
  width: 84vw;
  position: relative;
  top: 8rem;
  margin-left: 16vw;
  min-height: calc(100dvh - 8rem);
  overflow-y: scroll;
  background-color: #eee;
  padding: 1.8rem 3rem;
}
.main_title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main_subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
#carouselAdminstration {
  border-radius: 10px;
}
#carouselAdminstration .carousel-inner {
  border-radius: 10px;
}
#carouselAdminstration .carousel-item {
  border-radius: 10px;
}
.adminstration_wrapper {
  display: flex;
  gap: 25px;
  border-radius: 10px;
}
.adm_grid {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}
.adm_grid_head {
  width: 50%;
}
.adm_grid_extra {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
}
.adm_grid_head .administration_content h2{
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
  color: #fff;
}
.adm_grid_extra .administration_content h2{
  font-size: 0.9rem;
  font-weight: 600;
  margin: 5px 0;
  color: #fff;
}
.adm_grid_head .administration_content p{
  font-size: 1rem;
  margin-bottom: 15px !important;
}
.adm_grid_extra .administration_content p{
  font-size: 0.8rem;
  margin-bottom: 4px !important;
}
.adm_grid_item, .adm_grid_head{
  position: relative;
}
.adm_grid_head .administration_content, .adm_grid_item .administration_content{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}
.adm_grid_head .administration_content p.adm_rank{
  font-weight: 600;
  color: #fff;
  font-style: italic;
}
.adm_grid_extra .administration_content p.adm_rank{
  font-weight: 600;
  color: #fff;
  font-style: italic;
}
.adm_grid_head .administration_content p span{
  font-weight: 600;
  color: #fff;
}
.adm_grid_extra .administration_content p span{
  font-weight: 600;
  color: #fff;
}
.adm_tutor_grid{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 50px;
}
.adm_tutor_grid_item{
  position: relative;
}
.adm_tutor_grid_item .administration_content{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}
.adm_tutor_grid_item .administration_content h2{
  font-size: 0.75rem;
  font-weight: 600;
  margin: 5px 0;
  color: #fff;
}
.adm_tutor_grid_item .administration_content p{
  font-size: 0.65rem;
  margin-bottom: 4px !important;
}
.adm_tutor_grid_item .administration_content p.adm_rank{
  font-weight: 600;
  color: #fff;
  font-style: italic;
}
.adm_tutor_grid_item .administration_content p span{
  font-weight: 600;
  color: #fff;
}

.carousel#carouselAdminstration {
  border-radius: 10px;
  padding: 30px 80px;
  box-shadow: 5px 8px 14px rgba(0, 0, 0, 0.173);
  width: 100%;
  margin: 0 auto;
}

#carouselAdminstration .carousel-item .adm_grid img {
  width: 100%;
  aspect-ratio: 9 / 10;
  object-fit: cover;
  border-radius: 10px;
}
#carouselAdminstration .carousel-item .adm_tutor_grid img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
}

#carouselAdminstration .carousel-control-prev-icon {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
}
#carouselAdminstration .carousel-control-next-icon {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
}
#carouselAdminstration .carousel-control-prev,
#carouselAdminstration .carousel-control-next {
  width: 80px;
}

/* main end */

/* home page start*/
#carouselHome .carousel-inner {
  border-radius: 10px;
}
#carouselHome .carousel-item {
  border-radius: 10px;
}
#carouselHome .carousel-item img {
  /* height: 550px; */
  aspect-ratio: 5 / 2;
  border-radius: 10px;
}
#carouselHome .carousel-control-prev-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}
#carouselHome .carousel-control-next-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}
#carouselHome .carousel-control-prev,
#carouselHome .carousel-control-next {
  width: 80px;
}
.card_body {
  margin: 50px;
  color: #333;
}
.card_title {
  font-size: 28px;
  font-weight: 600;
}
.card_text {
  font-size: 22px;
  line-height: 35px;
}
/* home page end*/

/* news page start */
#carouselNews .carousel-inner {
  border-radius: 10px;
}
#carouselNews .carousel-item {
  border-radius: 10px;
}
#carouselNews .carousel-item img {
  height: 600px;
  border-radius: 10px;
}
#carouselNews .carousel-control-prev-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
#carouselNews .carousel-control-next-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
#carouselNews .carousel-control-prev,
#carouselNews .carousel-control-next {
  width: 80px;
}
#carouselNews .carousel-caption {
  background-color: #00000065;
  border-radius: 15px;
}
#carouselNews .carousel-caption h5 {
  font-size: 25px;
  font-weight: 600;
}
#carouselNews .carousel-caption p {
  font-size: 20px;
}
#carouselNews .carousel-caption a {
  font-size: 24px;
  padding: 10px 40px;
}
/* news page end */
/* schedule start */

.table tbody td:first-child {
  font-weight: bold;
}
.table thead th,
.table tbody td {
  text-align: center;
  font-size: 22px;
}
.table tbody td.exist {
  background-color: rgb(246, 198, 183);
}
/* schedule end */
/* detail start */
.home_page .back {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  letter-spacing: 3px;
}
.detail_wrap {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}
.detail_content {
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 8px 14px rgba(0, 0, 0, 0.173);
}
.detail_content h3 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}
.detail_content p {
  font-size: 22px;
  line-height: 35px;
}
.detail_img {
  width: 50%;
}
.detail_img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* detail end */
/* students start */
#carouselStudents {
  border-radius: 10px;
}
#carouselStudents .carousel-inner {
  border-radius: 10px;
}
#carouselStudents .carousel-item {
  border-radius: 10px;
}
.students_wrapper {
  display: flex;
  gap: 25px;
  border-radius: 10px;
}
.carousel#carouselStudents {
  border-radius: 10px;
  padding: 30px 80px;
  box-shadow: 5px 8px 14px rgba(0, 0, 0, 0.173);
  width: 75%;
  margin: 0 auto;
}

#carouselStudents .carousel-item img {
  height: auto;
  width: 22vw;
  object-fit: cover;
  border-radius: 10px;
}
#carouselStudents .carousel-control-prev-icon {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
}
#carouselStudents .carousel-control-next-icon {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
}
#carouselStudents .carousel-control-prev,
#carouselStudents .carousel-control-next {
  width: 80px;
}
.students_content h2 {
  font-size: 28px;
  font-weight: 600;
}
.students_content p {
  font-size: 22px;
}
/* students end */